<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Ini Adalah Tampilan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1 th:text="${inisial}"></h1>
        <div>Data Buah</div>
        <hr>
        <table border="1">
            <tr>
                <th>Nama</th>
                <th>Harga</th>
            </tr>
            <tr th:each="barang:${listharga}">
                <td th:text="${barang[0]}"></td>
                <td th:text="${barang[1]}"></td>
            </tr>
        </table>
    </body>
</html>
